<h1>Trainings for <%= @instructor.fullname %></h1>

<% if @trainings.any? %>
  <table>
    <thead>
      <tr>
        <th>Schedule</th>
        <th>Instructor</th>
        <th>Price</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @trainings.each do |training| %>
        <tr>
          <td><%= training.schedule %></td>
          <td><%= training.client.fullname %></td>
          <td><%= training.price %></td>
          <td><%= training.duration %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This instructor has no personal trainings.</p>
<% end %>

<div class="link">
  <%= link_to 'Back to Instructors', instructors_path %>
</div>