<div class="page_wrapper">
  <h1>Тренировки для <%= @instructor.fullname %></h1>

  <% if @trainings.any? %>
    <table>
      <thead>
        <tr>
          <th class="data_cell">Schedule</th>
          <th class="data_cell">Instructor</th>
          <th class="data_cell">Price</th>
          <th class="data_cell">Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @trainings.each do |training| %>
          <tr>
            <td class="data_cell"><%= training.schedule %></td>
            <td class="data_cell"><%= training.client.fullname %></td>
            <td class="data_cell"><%= training.price %></td>
            <td class="data_cell"><%= training.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>This instructor has no personal trainings.</p>
  <% end %>
  <br>
  <div class="link">
    <%= link_to 'Back to Instructors', instructors_path %>
  </div>
</div>